
svg {
    overflow: visible;
}

body {
    font-family: Verdana, sans-serif;   
}

text {
    fill: grey;
}

.content-wrapper {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    max-width: 1000px;
}

#title{
    width: 800px;
    height: 50px;
    margin-top: 10px;
    position:relative;
}

#graph{
    width: 800px;
    height: 500px;
}

#infobox {
}

.infobox-text{
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-weight: lighter;
}

p {
    font-size: 0.8em;
    text-align: left;
}


.linkPolygon {
    opacity: 0.3;
    stroke: #555;
    stroke-width: 1px;
}

.chartLine {
    stroke: steelblue;
    stroke-width: 2px;
    fill: transparent;
}

.node text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 7px;
    stroke: #333;
    cursor: pointer;
    display: none;
}

.nodeCircle {
    stroke: white;
    opacity: 0;
}

.node-active {
    opacity: 1;
}

.node-passive {
    opacity: 0.1;
}

.link-active {
    opacity: 0.8;
}

.link-passive {
    opacity: 0.05;
}

.infobox rect {
    stroke-width: 1 px;
    stroke: black;
}

.infoPanel {
    margin: 5px;
    border: 1px solid grey;
}

.selectorElement {
    margin: 0.5em;
}

.network {
    display: inline;
}

.slider {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
}

.slider-text {
    position: absolute;
}

.slider-tray {
    position: absolute;
    width: 100%;
    height: 2px;
    border: solid 1px #ccc;
    border-top-color: #aaa;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);    
}

.slider-handle {
    position: absolute;
}

.slider-handle-icon {
    width: 14px;
    height: 14px;
    border: solid 1px #aaa;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: -7px;
    left: -7px;
}

.axis {
    font-size: 0.5em;
    color: grey;
}

.axis-main{
    font-size: 0.8em;   
}

.grid {
    stroke: grey;
    opacity: 0.5;
}

.s-chart-wrapper{
    margin-bottom: 40px;
}

.s-chart-cursor{
    width: 1px;
    fill: gray;
    position: absolute;
    opacity: 0.7;
}

.tooltip {
  font-size: 10px;
  pointer-events: none;
  
}