body, html { 
    margin: 0; 
    width: 100%;
} 

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #ffffff;
  }

  
h1 {
    opacity: 0.74;
}